<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codeial / Profile Page</h1>

<!-- <p><%= user.name%></p>
<p><%= user.email%></p> -->

<% if(user.id == profile_user.id){ %>
<form action="" method="POST" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
    <input type="email" name="eamil" placeholder="Your Email" value="<%= profile_user.email %>" required>
    <input type="file" name="avatar" placeholder="Profile Picture">
    <input type="submit" value="Update">
</form>
<% }else{% >
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>    
<% } %>